@model KitaplikApp.Models.Kullanicilar

@{
    Layout = null; 
}

<div class="modal-header">
    <h5 class="modal-title" id="userModalLabel">Kullanıcı Sil</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>

<div class="modal-body">
    <h3>Bu kullanıcıyı silmek istediğinizden emin misiniz?</h3>
    <div>
        <dl class="row">
            <dt class = "col-sm-3">
                @Html.DisplayNameFor(model => model.Eposta)
            </dt>
            <dd class = "col-sm-9">
                @Html.DisplayFor(model => model.Eposta)
            </dd>
            <dt class = "col-sm-3">
                @Html.DisplayNameFor(model => model.Ad)
            </dt>
            <dd class = "col-sm-9">
                @Html.DisplayFor(model => model.Ad)
            </dd>
            <dt class = "col-sm-3">
                @Html.DisplayNameFor(model => model.Soyad)
            </dt>
            <dd class = "col-sm-9">
                @Html.DisplayFor(model => model.Soyad)
            </dd>
            <dt class = "col-sm-3">
                @Html.DisplayNameFor(model => model.TelefonNumarasi)
            </dt>
            <dd class = "col-sm-9">
                @Html.DisplayFor(model => model.TelefonNumarasi)
            </dd>
            <dt class = "col-sm-3">
                @Html.DisplayNameFor(model => model.Rol)
            </dt>
            <dd class = "col-sm-9">
                @Html.DisplayFor(model => model.Rol!.RolAdi)
            </dd>
            <dt class = "col-sm-3">
                @Html.DisplayNameFor(model => model.KayitTarihi)
            </dt>
            <dd class = "col-sm-9">
                @Html.DisplayFor(model => model.KayitTarihi)
            </dd>
        </dl>
    </div>
</div>

<div class="modal-footer">
    <form id="deleteForm" asp-action="DeleteUser" asp-controller="Admin" method="post">
        <input type="hidden" asp-for="KullaniciId" />
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">İptal</button>
        <button type="submit" class="btn btn-danger">Sil</button>
    </form>
</div>