@model KitaplikApp.Models.Yayinevleri

<div>
    <dl class="row">
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.YayineviAdi)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.YayineviAdi)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Adres)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Adres)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Telefon)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Telefon)
        </dd>
    </dl>
</div>